.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: left;
    gap: 20px;
}

.wrapper {
    margin-top: 40px;
}

.Hhtitle {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    justify-items: baseline;
    gap: 20px;
}

.tagStyle {
    margin-bottom: 30px;
}

.seoText {
    margin-bottom: 30px;
}